.footer-container {
  background: linear-gradient(71deg, rgba(83, 93, 170, 1) 24%, rgba(152, 152, 203, 1));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
}

.footer-1 {
  display: flex;
  font-size: 4rem;
  gap: 2rem;
}

.footer-2 {
  text-align: center;
  margin-top: 20px;
}

.footer-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.footer-2 img {
  margin-right: 10px;
}

.footer-2 h5,
.footer-3 h5 {
  margin-bottom: 10px;
}

.footer-link {
  text-decoration: none;
}

.footer-item {
  list-style: none;
  margin-bottom: 5px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer-3 p {
  margin-bottom: 5px;
}

h5 {
  font-size: 2rem;
}

.social-icon {
  font-size: 4rem;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
  color: blue;
}

.contact-icon {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .footer-1 {
    font-size: 3rem;
  }

  h5 {
    font-size: 1.8rem;
  }

  .social-icon {
    font-size: 3rem;
  }

  .contact-icon {
    font-size: 1.2rem;
  }
}
